<mat-card style="min-width: 400px">
  <mat-card-header>
    <h1>Update User</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="registerform" (ngSubmit)="updateuser()">
      <mat-form-field style="min-width: 400px">
        <input matInput formControlName="firstName" placeholder="First Name">
      </mat-form-field>
      <mat-form-field style="min-width: 400px">
        <input matInput formControlName="lastName" placeholder="Last Name">
      </mat-form-field>
      <mat-form-field style="min-width: 400px">
        <mat-label >Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birth" [readonly]="true">
        <mat-hint>DATE FORMAT: MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <div style="min-width: 400px">
        <button mat-raised-button color="primary">Confirm</button>
        <a mat-dialog-close="#" style="margin-left: 20px" mat-raised-button color="accent">Back</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>

