<mat-card style="min-width: 400px">
  <mat-card-header>
    <h1>Create custom user</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="customUserForm" (ngSubmit)="customUserCreating()">
      <mat-form-field style="min-width: 400px">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
      <mat-form-field style="min-width: 400px">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
      <mat-form-field style="min-width: 400px">
        <mat-label >Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birth" [readonly]="true">
        <mat-hint>DATE FORMAT: MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="min-width: 400px">
        <mat-label>Password</mat-label>
        <input type="password"matInput formControlName="password">
      </mat-form-field>
      <mat-form-field style="min-width: 400px">
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>
      <div style="min-width: 170px">
        <mat-radio-group formControlName="gender" aria-label="Gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div style="min-width: 400px">
        <button mat-raised-button color="primary">Done</button>
        <a style="margin-left: 20px" routerLink="/user" mat-raised-button color="accent">Back to table</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
