<mat-card style="min-width: 400px">
  <mat-card-header>
    <h1>User Registration</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregistation()">
      <mat-form-field style="min-width: 400px">
        <mat-label>Username</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
      <mat-form-field style="min-width: 400px">
        <mat-label>First name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field style="min-width: 400px">
        <mat-label>Password</mat-label>
        <input type="password"matInput formControlName="password">
      </mat-form-field>
      <mat-form-field style="min-width: 400px">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <div style="min-width: 170px">
        <mat-radio-group formControlName="gender" aria-label="Gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div style="min-width: 400px">
        <button mat-raised-button color="primary">Submit</button>
        <a style="margin-left: 20px" routerLink="/login" mat-raised-button color="accent">Back to Login</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
